$color-text: #4a0404;
$color-link: #f7450c;
$color-background: rgba(255, 255, 255, 0.8);
$color-background-menu: rgba(253, 213, 16, 0.9);
$color-footer-background: $color-text;
$color-box-shadow: 0 0 20px 0 rgba(75, 4, 4, 0.6);
$color-placa:rgba(255, 68, 0, 0.9); //rgba(65, 0, 0, 0.8)
$rounded-edges: 1rem;